<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <form>
        이름 : <input type="text" name="name" id="name">
        이메일 : <input type="text" name="email" id="email">
        증명사진 : <input type="file" name="photos" id="photos" multiple>
        <button type="button" onclick="postData()">제출</button>
    </form>
    <script>
        async function postData() {
            const name = document.getElementById("name").value;
            const email = document.getElementById("email").value;
            const fileInput = document.getElementById("photos");
            const files = fileInput.files;
            const serverData = new FormData();
            serverData.append("name",name);
            serverData.append("email",email);
            for(let i = 0; i < files.length; i++) {
                serverData.append("photos", files[i]);
            }
            const result = await axios.post("http://localhost:8080/practice/axios-form-multi-file-view", serverData)
            console.log(result.data);
        }
    </script>
</body>
</html>